.main {
    border-radius: var(--mantine-radius-md);
    background-color: var(--mantine-color-white);
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-xs);
    height: 100%;
    overflow-x: scroll;
}
